[defaults]
nocows = True
inventory = inventory/rpids.yml
collections_path = ./
roles_path = ./galaxy_roles:./roles
host_key_checking = false
ask_vault_pass = false
interpreter_python = auto_silent
forks = 12
result_format = yaml
gathering = smart
retry_files_enabled = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
scp_if_ssh = True
